<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>
	<h1>Welcome to Liger Match, <%= @user.first_name %>!</h1>

	<p>You have successfully signed up to Liger Match! The one site that gives you everything you need to make a smooth transition into a new industry.</p>

	<p> <%= link_to 'Click Here', login_path %> to log in.</p>

	<p>Sincerely,</p>
	<p>The Lean Liger Team</p>

</body>
</html>