html, body {
	height: 100%;
	font-family: 'Roboto', "Helvetica", sans-serif;
	color: #333;
	background: #f5f5f5;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

section {
	width: 100%;
	padding: 80px 40px;
}

.row {
	margin-bottom: 24px;
}

p {
	line-height: 1.5em;
}

a {
	color: inherit;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

a:hover {
	color: inherit;
	opacity: 0.7;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-decoration: none;
}

.italic {
	font-style: italic;
}

button {
	background: #DC143C;
	color: #fff;
}

h1 {
	font-weight: 900;
}

h2 {
	font-weight: 300;
	margin-bottom: 24px;
}

p {
	font-weight: 300;
	font-size: 1.25em;
	line-height: 1.5em;
}

.navbar {
	height: 100px;
	background: #f5f5f5;
	padding: 0 40px;
}

.navbar-toggle {
	position: absolute;
	top: 20px;
	right: 40px;
}

.container-fluid {
	background: #f5f5f5;
}

.navbar-nav {
	padding-top: 24px;
}

.navbar-form {
	padding-top: 24px;
}

.logout {
	margin-left: 12px;
}

.logo {
	display: block;
	width: 80px;
}

.login-well, .login-well .in, #login {
	width: 300px;
	position: absolute;
	right: 0;
}

.well {
	border: 0px;
	border-bottom: 1px solid #ccc;
	box-shadow: none;
}

#login {
	padding-top: 24px;
}

#login input {
	margin-top: 12px;
}

.modal {
	background: #333;
	color: #f5f5f5;
}

.modal-dialog {
  width: 90%;
	height: 100%;
  padding: 80px 40px;
	background: none;
	text-align: center;
}

.close {
  color: #fff;
  text-shadow: none;
  opacity: 1.0;
  position: absolute;
  top: 0px;
  right: 10%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.close:hover {
  color: #ccc;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal input {
	margin-bottom: 12px;
}

.modal input[type=radio] {
	width: 40px;
}

textarea {
	display: block;
	margin: 12px auto;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 12px;
	color: #333;
}

/******* Landing Page *******/

.home {
	text-align: center;
	background: #DC143C;
}

.home .jumbotron {
	background: #DC143C;
	color: #f5f5f5;
	padding-top: 100px;
}

.home nav {
	color: #333;
}

.home .jumbotron form label {
	padding-right: 12px;
}

.info {
	color: #333;
	background: #fff;
	text-align: center;
}

.info h1 {
	margin-bottom: 48px;
}

.info p {
	margin-bottom: 24px;
}

.info-icon {
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	line-height: 220px;
	margin: 0 auto;
	background: #f5f5f5;
	font-size: 3em;
}

/******* Sign Up Page *******/

.newUser, .editUser {
	margin-top: 40px;
}

.back {
	margin-bottom: 24px;
}

.newUser input {
	margin-bottom: 12px;
}


/******* Mentor Directory *******/

.mentor-directory {
	padding: 120px;
	text-align: center;
}

#salaryInfo {
	margin: 0 auto;
}

.industry-select {
	margin-top: 24px;
}

.mentor-search h1 {
	margin-right: 12px;
}

.mentor-search select {
	margin-bottom: 16px;
	width: 200px;
}


.mentor-icon {
	display: block;
	width: 200px;
	height: 200px;
	line-height: 220px;
	margin: 0 auto;
	background: #f5f5f5;
	font-size: 3em;
	color: #333;
	border-radius: 100%;
}

/* .mentor-image img {
	height: 100%;
	border-radius: 100%;
}
 */
.mentor-web .mentor-icon, .mentor-web .info-icon {
	border: 6px solid #06698F;
}

.mentor-pm .mentor-icon, .mentor-pm .info-icon  {
	border: 6px solid #008F18;
}

.mentor-ux .mentor-icon, .mentor-ux .info-icon{
	border: 6px solid #8F1B33;
}

.mentor-card {
	background: #fff;
	padding: 40px;
	border: 20px solid #f5f5f5;
}


/******* Mentor Homepage *******/

.cover-photo {
	background: #A9A9A9;
	height: 460px;
	position: relative;
	text-align: center;
	color: #f5f5f5;
	padding-top: 160px;
}

.cover-photo .mentor-image {
	width: 200px;
	height: 200px;
	display: block;
	background: #333;
	padding: 4px;
	border-radius: 100%;
	text-align: center;
	margin-top: 340px;
	font-size: 4em;
	color: #f5f5f5;
	border: 8px solid #f5f5f5;
	overflow: hidden;
}

.mentor-image {
	background-size: cover;
	border: 8px solid #f5f5f5;
}

.web-skin {
	background: #06698F;
}

.ux-skin {
	background: #8F1B33;
}

.pm-skin {
	background: #008F18;
}

.user-homepage {
	text-align: center;
}

.mentorship-request {
	background: #333;
	color: #f5f5f5;
	width: 200px;
	height: 60px;
	font-size: 1.25em;
	border-radius: 10px;
}

a.mentorship-request {
	line-height: 45px;
}

.social-icons {
	font-size: 2em;
	padding-top: 24px;
}

.social-icons li {
	list-style: none;
	display: inline-block;
	padding-right: 12px;
}

.quote {
	font-size: 2em;
	position: relative;
}

.quote i {
	display: block;
	padding: 12px 0;
}

/******* Dashboard *******/
#user-homepage {
	padding-top: 100px;
	text-align: left;
}

.mentorships-header {
	margin: 24px auto;
}

.pending-mentors, .current-mentors {
	background: #fff;
	padding-bottom: 24px;
}

.pending-mentors input, .current-mentors input {
	margin-bottom: 12px;
}

#end-mentorship {
	position: absolute;
	top: 40px;
	right: 24px;
}

.close-window {
	display: block;
	margin: 12px auto;
	font-size: 2em;
	cursor: pointer;
}

.current-mentors {
	border-right: 48px solid #f5f5f5;
	margin-bottom: 48px;
	padding: 24px 40px;
}

#userType {
	display: none;
}

.inbox {
	display: block;
	border: 1px solid #ccc;
	height: 240px;
	overflow: scroll;
	margin-bottom: 12px;
}

.conversation {
	padding: 0;
}

.conversation li {
	border-bottom: 1px solid #f5f5f5;
	padding: 6px 12px;
}

.msg-body {
	display: none;
	width: 100%;
}

.conversation li {
	background: #fff;
}


.conversation li:nth-child(even){
	background: #f5f5f5;
}
