<!DOCTYPE html>
<html>
<head>
  <title>Lean Ligers Home Page</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= image_tag("Liger.jpg", alt: "Liger") %>

	<h1>Welcome to the Lean Ligers Page!</h1>
	<h3>We are a General Assembly Cross Immersive Labs team.</h3>
	<p>Project coming soon...</p>

</body>
</html>